.checkout-container {
  padding: 20px;
}

.order-summary {
  margin-top: 20px;
}

.order-item {
  display: flex;
  margin-bottom: 20px;
}

.order-item img {
  width: 151px;
  height: auto;
}

.place-order-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
